# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

CA-DRWVR-v1-1-Final-Project-2023-0601.pdf
CSymington-DRWVR-Final-Project-Design.docx
CSymington-DRWVR-Final-Project-Conclusion.docx
